[submodule "quick_start-util"]
	path = quick_start/dags/dependencies/util
	url = git@github.com:nkomiya/airflow.git
	branch = dependencies/util
[submodule "gcp-util"]
	path = gcp/dags/dependencies/util
	url = git@github.com:nkomiya/airflow.git
	branch = dependencies/util
