[submodule "gcp-util"]
	path = gcp/dags/dependencies/util
	url = git@github.com:nkomiya/airflow.git
	branch = dependencies/util
[submodule "tutorial-util"]
	path = tutorial/dags/dependencies/util
	url = git@github.com:nkomiya/airflow.git
	branch = dependencies/util
